<div class="register-form-container">
    <div class="register-form">
        <h1>Registration</h1>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput formControlName="username">
                @if(registerForm.get('username')?.invalid && (registerForm.get('username')?.touched || registerForm.get('username')?.dirty)){
                    @if (registerForm.get('username')?.errors?.["required"]) {
                        <small class="error-message">Username must be given</small>
                    }
                }
            </mat-form-field>

            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email">
                @if(registerForm.get('email')?.invalid && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty)){
                    @if (registerForm.get('email')?.errors?.["required"]) {
                        <small class="error-message">Az email megadása kötelező</small>
                    }
                    @if (registerForm.get('email')?.errors?.["email"]) {
                        <small class="error-message">Érvényes email címet adj meg</small>
                    }
                }
            </mat-form-field>

            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password">
                @if(registerForm.get('password')?.invalid && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty)){
                    @if(registerForm.get('password')?.errors?.["required"]) {
                        <small class="error-message">A jelszó megadása kötelező</small>
                    }
                }
            </mat-form-field>

            <hr>
            <button mat-raised-button type="submit" [disabled]="registerForm.invalid"></button>
            <button mat-raised-button type="button" routerLink="/login">Vissza a bejelentkezéshez</button>
        </form>
    </div>
</div>
