<div class="dashboard-container">
      <span class="title">Kezdőlap</span>
  
  
    <!-- Metrikák -->
    <div class="metrics">
      <mat-card *ngFor="let metric of metrics | keyvalue" class="metric-card">
        <mat-card-title>{{ metric.key }}</mat-card-title>
        <mat-card-content>{{ metric.value }}</mat-card-content>
      </mat-card>
    </div>
  
    <!-- Legutóbbi tevékenységek -->
    <mat-card class="recent-activities">
      <mat-card-title>Legutóbbi tevékenységek</mat-card-title>
      <mat-list>
        <mat-list-item *ngFor="let activity of recentActivities">
          {{ activity.description }}
        </mat-list-item>
      </mat-list>
    </mat-card>
  
    <!-- Készletállapot -->
    <mat-card class="stock-data">
      <mat-card-title>Készletállapot</mat-card-title>
      <mat-card-content>
        <p>Alacsony készlet: {{ stockData.stockStatus?.low_stock }}</p>
        <p>Elegendő készlet: {{ stockData.stockStatus?.sufficient_stock }}</p>
      </mat-card-content>
    </mat-card>
  
    <!-- Legutóbbi megrendelések -->
    <mat-card class="recent-orders">
      <mat-card-title>Legutóbbi megrendelések</mat-card-title>
      <mat-list>
        <mat-list-item *ngFor="let order of recentOrders">
          {{ order.customer_name }} - {{ order.status }}
        </mat-list-item>
      </mat-list>
    </mat-card>
  
    <!-- Gyártmányok -->
    <mat-card class="products">
      <mat-card-title>Gyártmányok</mat-card-title>
      <mat-list>
        <mat-list-item *ngFor="let product of products">
          {{ product.name }}
        </mat-list-item>
      </mat-list>
    </mat-card>
  </div>