.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(1, 73, 73);
    align-items: center;
    height: 100vh;

    .form-box {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: white;
        border-radius: 5px;
        padding: 40px;
        width: 300px;

        form {
            input {
                margin: 5px;
                padding: 10px;
                width: 270px;
            }

            button {
                padding: 15px;
                border-radius: 5px;
                margin-top: 10px;
                border: none;
                background: rgb(22, 160, 214);
                width: 300px;
                font-weight: bold;
            }

            button:hover {
                background-color: rgb(107, 192, 218);
            }
        }
    }
}