<div class="part-list">
    <h2>Alkatrészek</h2>
    <table>
      <thead>
        <tr>
          <th>Név</th>
          <th>Mennyiség</th>
          <th>Raktári szám</th>
          <th>Bevételezés dátuma</th>
          <th>Műveletek</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let part of parts">
          <td>{{ part.name }}</td>
          <td>{{ part.quantity }}</td>
          <td>{{ part.warehouse_number }}</td>
          <td>{{ part.received_date | date }}</td>
          <td>
            <button (click)="deletePart(part.id)">Törlés</button>
            <!-- <a [routerLink]="['/parts', part.id, 'edit']">Szerkesztés</a> -->
          </td>
        </tr>
      </tbody>
    </table>
    <a routerLink="/parts/new">Új alkatrész hozzáadása</a>
  </div>