<div class="container my-5">
  <div class="text-center mb4">
    <h2>Véradások listája</h2>
  </div>

  <div class="card shadow-sm mb-4">
    <div class="card-body">
      <form class="row gy-3 gx-3 align-items-end justify-content-center" (ngSubmit)="onFilter()">
        <div class="col-md-3">
          <label for="filterLocation" class="form-label">Helyszín</label>
          <select id="filterLocation" class="form-select" name="location" [(ngModel)]="filter.locationId">
            <option value="">Összes helyszín</option>
            @for (loc of locations; track loc) {
            <option [value]="loc.id">{{ loc.name }}</option>
            }
          </select>
        </div>

        <div class="col-md-3">
          <label for="filterClient" class="form-label">Véradó</label>
          <select name="filterClient" id="filterClient" class="form-select" [(ngModel)]="filter.clientId">
            <option value="">Összes véradó</option>
            @for (client of clients; track client) {
            <option [value]="client.id">{{ client.fullname }}</option>
            }
          </select>
        </div>

        <div class="col-md-2">
          <label for="startDate" class="form-label">Dátum -tól</label>
          <input type="date" id="startDate" class="form-control" name="filterFromDate" [(ngModel)]="filter.fromDate"/>
        </div>

        <div class="col-md-2">
          <label for="endDate" class="form-label">Dátum -ig</label>
          <input type="date" id="endDate" class="form-control" name="filterToDate" [(ngModel)]="filter.toDate"/>
        </div>

        <div class="col-md-2 text-center">
          <button type="submit" class="btn btn-primary w-100">Szűrés</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-hover table-bordered align-middle">
    <thead class="table-light">
      <tr>
        <th>Helyszín</th>
        <th>Véradó neve</th>
        <th>Dátum</th>
        <th>Alkalmas?</th>
        <th>Irányított véradás</th>
      </tr>
    </thead>
    <tbody>
      @for (donation of donations; track donation) {
      <tr>
        <td>{{ donation.location.name }}</td>
        <td>{{ donation.client.fullname }}</td>
        <td>{{ donation.date }}</td>
        <td>{{ donation.eligible }}</td>
        <td>{{ donation.controlled }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
