<div class="row">
    <div class="col-md-6">
        <h4>Helyszín adatok</h4>
        <form>
            <div class="mb-3">
              <label for="code" class="form-label">Helyszín kódja:</label>
              <input type="text" class="form-control" id="code" name="code" [(ngModel)]="location.code">
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Helyszín neve:</label>
                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="location.name">
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">Helyszín címe:</label>
                <input type="text" class="form-control" id="address" name="adsress" [(ngModel)]="location.address">
            </div>
            <div class="mb-3">
                <label for="active" class="form-label">Állapot:</label>
                <select name="active" id="active" class="form-select" [(ngModel)]="location.active" required="">
                    <option value="true">Aktív</option>
                    <option value="false">Inaktív</option>
                </select>
            </div>
            <div class="text-end">
                <button class="btn btn-outline-primary" (click)="saveLocation()">Mentés</button>
            </div>
        </form>
    </div>
</div>