<div class="text-center mb-4">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-outline-primary" (click)="formType = 'donation'">Új véradás</button>
        <button type="button" class="btn btn-outline-secondary" (click)="formType = 'newClient'">Új véradó</button>
    </div>
</div>

@if (formType === 'donation') {
    <form [formGroup]="donationForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label class="form-label">Helyszín</label>
            <select class="form-select" name="location" id="location" formControlName="location">
              <option [value]="location.id">{{ location.name }}</option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">Véradó</label>
            <select class="form-select" formControlName="client">
              <option>Válassz véradót</option>
              @for (client of clients; track client) {
                <option [value]="client.id">{{ client.fullname }}</option>
              }
            </select>
            @if (donationForm.get("client")?.invalid && (donationForm.get("client")?.touched || donationForm.get("client")?.dirty)) {
              @if (donationForm.get('client')?.errors?.["required"]) {
                <small class="error-message">A donor kiválasztása kötelező</small>
              }
            }
          </div>
      
          <div class="mb-3">
            <label class="form-label">Dátum</label>
            <input type="date" class="form-control" formControlName="date" />
            @if (donationForm.get("date")?.invalid && (donationForm.get("date")?.touched || donationForm.get("date")?.dirty)) {
              @if (donationForm.get('date')?.errors?.["required"]) {
                <small class="error-message">A dátum kiválasztása kötelező</small>
              }
            }
          </div>
      
          <div class="mb-3">
            <label class="form-label">Alkalmas véradásra?</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" value="yes" formControlName="eligible" /> Igen
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" value="no" formControlName="eligible" /> Nem
            </div>
          </div>
      
          @if (donationForm.get('eligible')?.value === 'no') {
            <div class="mb-3">
                <label class="form-label">Alkalmatlanság oka</label>
                <textarea class="form-control" formControlName="reason"></textarea>
                @if (donationForm.get("reason")?.invalid && (donationForm.get("reason")?.touched || donationForm.get("reason")?.dirty)) {
                  @if (donationForm.get('reason')?.errors?.["required"]) {
                    <small class="error-message">Az ok megadása kötelező</small>
                  }
                }
            </div>
            }
      
          <div class="mb-3">
            <label class="form-label">Orvos neve</label>
            <input class="form-control" formControlName="doctor" />
            @if (donationForm.get("doctor")?.invalid && (donationForm.get("doctor")?.touched || donationForm.get("doctor")?.dirty)) {
              @if (donationForm.get('doctor')?.errors?.["required"]) {
                <small class="error-message">Az orvos megadása kötelező</small>
              }
            }
          </div>
      
          <div class="mb-3">
            <label class="form-label">Irányított véradás?</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" value="yes" formControlName="controlled" /> Igen
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" value="no" formControlName="controlled" /> Nem
            </div>
          </div>
      
          @if(donationForm.get('controlled')?.value === 'yes') {
            <div class="mb-3">
                <label class="form-label">Beteg neve</label>
                <input class="form-control" formControlName="patient_fullname" />
                @if (donationForm.get("patient_fullname")?.invalid && (donationForm.get("patient_fullname")?.touched || donationForm.get("patient_fullname")?.dirty)) {
                  @if (donationForm.get('patient_fullname')?.errors?.["required"]) {
                    <small class="error-message">A beteg nevének megadása kötelező</small>
                  }
                }
            </div>
            }
      
            @if (donationForm.get('controlled')?.value === 'yes') {
            <div class="mb-3">
                <label class="form-label">TAJ szám</label>
                <input class="form-control" formControlName="patient_taj" />
                @if (donationForm.get("patient_taj")?.invalid && (donationForm.get("patientTaj")?.touched || donationForm.get("patient_taj")?.dirty)) {
                  @if (donationForm.get('patient_taj')?.errors?.["required"]) {
                    <small class="error-message">A beteg taj számának megadása kötelező</small>
                  }
                }
            </div>
            }
      
          <button type="submit" class="btn btn-success">Mentés</button>
    </form>
}

@if (formType === 'newClient') {
    <form [formGroup]="newClientForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label class="form-label">Név</label>
            <input class="form-control" formControlName="fullname" />
            @if (newClientForm.get("fullname")?.invalid && (newClientForm.get("fullname")?.touched || newClientForm.get("fullname")?.dirty)) {
              @if (newClientForm.get('fullname')?.errors?.["required"]) {
                <small class="error-message">Teljesnév megadása kötelező</small>
              }
            }
          </div>
      
          <div class="mb-3">
            <label class="form-label">Nem</label>
            <select class="form-select" formControlName="gender">
              <option value="">Válassz nemet</option>
              <option value="male">Férfi</option>
              <option value="female">Nő</option>
            </select>
            @if (newClientForm.get("gender")?.invalid && (newClientForm.get("gender")?.touched || newClientForm.get("gender")?.dirty)) {
              @if (newClientForm.get('gender')?.errors?.["required"]) {
                <small class="error-message">Nem megadása kötelező</small>
              }
            }
          </div>
      
          <div class="mb-3">
            <label class="form-label">Állampolgárság</label>
            <input class="form-control" formControlName="citizenship" />
            @if (newClientForm.get("citizenship")?.invalid && (newClientForm.get("citizenship")?.touched || newClientForm.get("citizenship")?.dirty)) {
              @if (newClientForm.get('citizenship')?.errors?.["required"]) {
                <small class="error-message">Állampolgárság megadása kötelező</small>
              }
            }
          </div>
      
          <div class="mb-3">
            <label class="form-label">Születési hely</label>
            <input class="form-control" formControlName="birthplace" />
            @if (newClientForm.get("birthplace")?.invalid && (newClientForm.get("birthplace")?.touched || newClientForm.get("birthplace")?.dirty)) {
              @if (newClientForm.get('birthplace')?.errors?.["required"]) {
                <small class="error-message">Születésihely megadása kötelező</small>
              }
            }
          </div>
      
          <div class="mb-3">
            <label class="form-label">Születési idő</label>
            <input type="date" class="form-control" formControlName="date_of_birth" />
            @if (newClientForm.get("date_of_birth")?.invalid && (newClientForm.get("date_of_birth")?.touched || newClientForm.get("date_of_birth")?.dirty)) {
              @if (newClientForm.get('date_of_birth')?.errors?.["required"]) {
                <small class="error-message">Születésiidő megadása kötelező</small>
              }
            }
          </div>
      
          <div class="mb-3">
            <label class="form-label">Lakcím</label>
            <input class="form-control" formControlName="address" />
            @if (newClientForm.get("address")?.invalid && (newClientForm.get("address")?.touched || newClientForm.get("address")?.dirty)) {
              @if (newClientForm.get('address')?.errors?.["required"]) {
                <small class="error-message">Cím megadása kötelező</small>
              }
            }
          </div>
      
          <div class="mb-3">
            <label class="form-label">TAJ szám</label>
            <input class="form-control" formControlName="taj_number" />
            @if (newClientForm.get("taj_number")?.invalid && (newClientForm.get("taj_number")?.touched || newClientForm.get("taj_number")?.dirty)) {
              @if (newClientForm.get('taj_number')?.errors?.["required"]) {
                <small class="error-message">Taj szám megadása kötelező</small>
              }
              @if (newClientForm.get('taj_number')?.errors?.["pattern"]){
                <small class="error-message">A tajszámnak pontosan 9 számjegyből kell, hogy álljon</small>
              }
              @if (newClientForm.get('taj_number')?.errors?.["invalidChecksum"]) {
                <small class="error-message">Érvénytelen beteg TAJ szám. Kérjük, ellenőrizze!</small>
              }
            }
          </div>
      
          <button type="submit" class="btn btn-success">Mentés</button>
    </form>
}